@model Member

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="control-label col-lg-2">Height</label>
                    <div class="col-lg-2 bottom">
                        <div class="input-group input-group-sm">
                            @Html.EditorFor(model => model.HeightFeet, new { htmlAttributes = new { @class = "form-control white-readonly", @readonly = "readonly" } })
                            <span class="input-group-addon">ft</span>
                        </div>
                    </div>
                    <div class="col-lg-2 bottom">
                        <div class="input-group input-group-sm">
                            @Html.EditorFor(model => model.HeightInches, new { htmlAttributes = new { @class = "form-control white-readonly", @readonly = "readonly" } })
                            <span class="input-group-addon">in</span>
                        </div>
                    </div>
                    <label class="control-label col-lg-2">@Html.LabelFor(model => model.Position)</label>
                    <div class="col-lg-4">
                        @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control white-readonly", @readonly = "readonly" } })
                   </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="control-label col-lg-2">@Html.LabelFor(model => model.Weight)</label>
                    <div class="col-lg-4 bottom">
                        <div class="input-group input-group-sm">
                            @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control white-readonly", @readonly = "readonly" } })
                            <span class="input-group-addon">lbs</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
