@model Corelib.Models.IdReplacement

@{
    ViewBag.Title = "ID Replacement";
    Layout = "~/Areas/CorporateAdministrator/Views/Shared/_AccountManagerLayout.cshtml";
}

@using (Html.BeginForm("IdReplacement", "IdReplacements", FormMethod.Post, new { accountCode = ViewBag.AccountCode, enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true);
    @Html.AntiForgeryToken()

    @Html.Partial("_IdReplacement", Model)

    <div class="row space">
        <div class="col-lg-12">
            <div class="space no-color pull-right">
                @if (Model.Status == Corelib.Enums.RequestStatus.Submitted)
                {
                    <input type="submit" name="Submit" value="Save" class="btn btn-primary" />
                    <input type="submit" name="Submit" value="Submit Request" class="btn btn-primary" />
                    if (Model.Id != 0)
                    {
                        @Html.ActionLink("Cancel", "CancelIdReplacement", new { accountCode = ViewBag.AccountCode, guid = Model.Guid }, new { @class = "btn btn-danger" })
                    }
                }
                @Html.ActionLink("Back to List", "Index", new { accountCode = ViewBag.AccountCode }, new { @class = "btn btn-primary" })
                
            </div>
        </div>
    </div>
}
</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Html.Partial("_Message")

    <script type="text/javascript">

        $(document).ready(function () {
            dependentSelect($('#MemberId'));
        });

        function onChangeMember(input) {
            dependentSelect(input);
        }

        function dependentSelect(input) {
            var option = {
                url: '@Url.Action("GetDependents")',
                type: 'post',
                data: {
                    memberId: input.val(),
                    amendmentId: '@Model.Id'
                }
            };
            $.ajax(option).done(function (data) {
                $('#DependentId').html(data);
            });
        }
        function clearFileInput() {
            var oldInput = document.getElementById("FileWrapper");
            var newInput = document.createElement("input");
            newInput.type = "file";
            newInput.id = oldInput.id;
            newInput.name = oldInput.name;
            newInput.className = oldInput.className;
            newInput.style.cssText = oldInput.style.cssText;
            // copy any other relevant attributes

            oldInput.parentNode.replaceChild(newInput, oldInput);
        }
        function clearExistingFileInput(input) {
            input.siblings('a').remove();
            input.siblings('label[for="NoFile"]').remove();
            input.siblings('label[for="CurrentUploaded"]').after('<label for="NoFile">&nbsp;Existing file deleted.<label>');
            $('#DocumentContentType').val('');
            $('#DocumentFile').val('');
            $('#DocumentFileName').val('');
        }

    </script>
}