@{
    Layout = Corelib.Config.EmailLayout;
}

<p class="title">Membership Information Submitted for Evaluation</p>
<br />
<p class="details">Dear Sir/Ma'am,</p>
<br />
@if (Model.BypassCorporateAdminApproval)
{
    <p class="details">A Membership Information has been submitted to Medicard for review and processing, the details of which are as follows:</p>
}
else
{
    <p class="details">Membership information has been submitted for your evaluation, details of which are as follows:</p>
}
<br />
<p class="details">Endorsement Type: @Model.Member.EndorsementBatch.EndorsementType</p>
<p class="details">Company Name: @Model.Member.EndorsementBatch.CompanyName</p>
<br />
<table border="1" style="border-collapse:collapse;width:70%">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Birthday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Member.LastName</td>
            <td>@Model.Member.FirstName</td>
            <td>@Model.Member.MiddleName</td>
            <td>@Model.Member.DateOfBirth.ToString("MM/dd/yyyy")</td>
        </tr>
    </tbody>
</table>